<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{{ decision and decision.canGoHome ? 'Yes, you can!' : 'Can I go home now?'}}</title>
    <meta name="description" content="Missing your cosy home? Come in to find out, if you can stop working already and head back home!">
    <meta name="keywords" content="go,home,work,countdown,job,sad,happy">
    {% block social %}
        <meta property="og:type" content="article" />
        <meta property="og:title" content="Can I go home now?" />
        <meta property="og:url" content="{{ app.request.fullUrl }}" />
        <meta property="og:image" content="{{ app.request.absoluteBase }}{{ asset('assetic/gfx/bg-start.jpg') }}" />

        <meta name="twitter:card" content="summary">
        <meta name="twitter:title" content="Can I go home now?">
        <meta name="twitter:description" content="Missing your cosy home? Come in to find out, if you can stop working already and head back home!">
        <meta name="twitter:image" content="{{ app.request.absoluteBase }}{{ asset('assetic/gfx/bg-start.jpg') }}">
    {% endblock %}
    <link rel="icon" href="{{ asset('assetic/gfx/favicon'~(decision and decision.canGoHome ? '-happy' : '')~'.ico') }}" />
    <link rel="stylesheet" href="{{ asset(assets.css) }}">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

<div class="fill bg {{ decision ? (decision.canGoHome ? 'bg-happy' : 'bg-sad') : 'bg-start' }}">
    <main>
        {% for flash in app.flashBag %}
            <div class="box flash">
                <span class="fa fa-exclamation-triangle"></span> {{ flash.message }}
            </div>
        {% endfor %}

        {% if decision %}
            <div class="answer box">
                <button id="settings-btn" class="btn btn-default btn-sm pull-right">
                    <span class="fa fa-cogs"></span>
                </button>
                {% if decision.canGoHome %}
                    <strong>Yup! You can go home now! :-)</strong>
                {% else %}
                    Nope -_-' Sit on your damn ass for
                    <strong class="timer">{{ decision.timeLeft }}</strong>
                    more, you cunning deadbeat.
                    <script>
                        window.decisionUrl = "{{ route('home') }}";
                        window.secondsLeft = {{ decision.secondsLeft }};
                        window.useFavico = {{ settings.favicon }};
                    </script>
                {% endif %}
                {% if settings.sound %}
                    <audio autoplay>
                        <source src="{{ asset('assetic/sfx/'~(decision.canGoHome ? 'happy' : 'sad')~'.mp3') }}" type="audio/mpeg">
                    </audio>
                {% endif %}
            </div>
        {% endif %}

        <form method="post" class="settings box form {% if decision %} hidden-opac{% endif %}">
            {% if not decision %}
                <h3 class="text-center">Can I go home now?</h3>
            {% endif %}
            {{ form.render('Avris\\Micrus\\Forms\\Style\\BootstrapHalf')|raw }}
            <footer class="form-group">
                <div class="row">
                    <div class="col-sm-6">
                        <span class="fa fa-photo"></span>
                        Authors of photos:
                        <a href="https://www.flickr.com/photos/benmciver/6180902486" target="_blank">BMclvr</a>,
                        <a href="https://www.flickr.com/photos/bs/3606756730" target="_blank">Britt Selvitelle</a>,
                        <a href="https://www.flickr.com/photos/cogdog/15171381719" target="_blank">Alan Levine</a>.
                        <br/>
                        <span class="fa fa-git-square"></span>
                        <a href="https://gitlab.com/Avris/GoHome" target="_blank">Source code</a>.
                        <br/>
                        <span class="fa fa-exclamation-circle"></span>
                        This app stores your settings for a month using <strong>cookies</strong>.
                        <br/>
                        You can disable them in your browser using
                        <a href="http://www.allaboutcookies.org/manage-cookies/" target="_blank">this instruction</a>.
                    </div>
                    <div class="col-sm-6 text-center submit-container">
                        <button type="submit" class="btn btn-default">
                            <strong>So? Can I go home?</strong>
                        </button>
                    </div>
                </div>
            </footer>
        </form>
    </main>
</div>

<script src="{{ asset(assets.js) }}"></script>
</body>
</html>
