@import "mixins"

.bg, .box
  +bgfull
  background-attachment: fixed

$bgs: 'start' 'happy' 'sad'
@each $bg in $bgs
  .bg-#{$bg}
    background-image: url('gfx/bg-#{$bg}.jpg')
    .box
      +lightenBackground(0.4, 'gfx/bg-#{$bg}-blur.jpg')

main
  width: 90%
  max-width: 700px
  margin: 0 auto
  padding-top: 48px
  text-align: center

.box
  text-align: left
  margin-bottom: 10px
  border: 1px solid rgba(255, 255, 255, 0.3)
  min-height: 20px
  padding: 19px
  border-radius: 4px
  +box-shadow(5px 15px 30px rgba(0, 0, 0, 0.8))
  text-shadow: 0 0 8px rgba(255, 255, 255, 0.8)

.settings
  margin-top: 48px
  margin-bottom: 36px
  h3
    margin: 10px 0 20px 0
  +transition(opacity 0.4s ease-in-out)
  .form-label
    text-align: right
    padding: 8px 15px
    margin: 0
  .checkbox, .radio
    margin: 0
  footer
    margin-bottom: 0 !important
    font-size: 0.8em
    a
      color: #000
  .submit-container
    padding-top: 12px

.answer
  font-size: 1.3em

.flash
  text-align: center
  font-size: 1.3em

.hidden-opac
  opacity: 0
