=vertical-align
  position: relative
  top: 50%
  -webkit-transform: translateY(-50%)
  -ms-transform: translateY(-50%)
  transform: translateY(-50%)

=transition ($options)
  -webkit-transition: $options
  -moz-transition: $options
  -o-transition: $options
  transition: $options

=translate($x, $y)
  -webkit-transform: translate($x, $y)
  -moz-transform: translate($x, $y)
  -o-transform: translate($x, $y)
  -ms-transform: translate($x, $y)
  transform: translate($x, $y)

=cover
  -webkit-background-size: cover
  -moz-background-size: cover
  -o-background-size: cover
  background-size: cover

=bgfull
  background-color: #fff
  background-position: 50% 50%
  background-repeat: no-repeat
  +cover

=box
  box-sizing: border-box
  -moz-box-sizing: border-box
  -webkit-box-sizing: border-box

=gradientVertical($col1, $col2, $col3, $percent)
  background-image: -webkit-linear-gradient($col1, $col2 $percent, $col3)
  background-image: -o-linear-gradient($col1, $col2 $percent, $col3)
  background-image: -webkit-gradient(linear, left top, left bottom, from($col1), color-stop($percent, $col2), to($col3))
  background-image: linear-gradient($col1, $col2 $percent, $col3)
  background-repeat: no-repeat

=transform($transformation)
  -ms-transform: $transformation
  -webkit-transform: $transformation
  transform: $transformation

=box-shadow($options)
  -webkit-box-shadow: $options
  box-shadow: $options

=lightenBackground($opacity, $url)
  background-image: -webkit-linear-gradient(0deg, rgba(255, 255, 255, $opacity), rgba(255, 255, 255, $opacity)), url($url)
  background-image: -o-linear-gradient(0deg, rgba(255, 255, 255, $opacity), rgba(255, 255, 255, $opacity)), url($url)
  background-image: linear-gradient(0deg, rgba(255, 255, 255, $opacity), rgba(255, 255, 255, $opacity)), url($url)
